.body,html{
    overflow:hidden;
}
.SignIn{
    width: 100%;
    height: 100vh;
    overflow-y:hidden;
    background: url(../../img/hospital.jpg) no-repeat center center fixed;
    background-size: cover;
    }

.signin-card{
    opacity: 0.8;
    margin-top:5%;
}

.input-field label {
    color: white;
  }

/* label focus color */
.input-field input[type=email]:focus + label {
    color: blue;
  }

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }